body, html {
    height: 100%;
    font-family: sans-serif;
}
body {
    background-image: url(./bg-2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
    padding: 0;
}
h3 {
    text-align: center;
    text-transform: uppercase;
    // font-size: 40px;
}

.example-container {
    min-height: 45px;
    width: 80%;
    max-width: 400px;
    margin: auto;
    padding-top: 25px;
    margin-bottom: 40px;
    margin-top: 40px;

    .trigger-btn {
        height: 40px;
        background: rgb(249, 249, 249);
        margin-left: 4px;
        border-radius: 5px;
        font-family: monospace;
        margin-top: -10px;
        cursor: pointer;
        width: 40px;
        justify-content: center;
        display: flex;
        align-items: center;
        border: solid 1px;
        float: right;
        box-sizing: border-box;

        &:hover {
            border-width: 3px;
        }
    }
}

.hermes-header {
    width: 100%;
    background-image: url(./header.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 350px;
}

.react-example {
    input,
    textarea {
        width: 95%;
        height: 20px;
        margin-bottom: 5px;
    }
    textarea {
        height: 100px;
    }
    input[type=button] {
        width: 40px;
        height: 20px;
        float: right;
    }
}

.footer {
    display: flex;
    width: 100%;
    height: 100px;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    background-color: #333;
    color: #fff;

    a, a:active, a:visited {
        text-decoration: none;
        color: #fff;

        &:hover {
            text-decoration: underline;
        }
    }
}